
.vs/FECapstone/config/applicationhost.config
.vs/FECapstone/FileContentIndex/7a2c4771-958b-4a0d-81cb-1cdc03d3097e.vsidx
.vs/FECapstone/FileContentIndex/9405d819-193b-4160-8fdb-1f8ca37c46bc.vsidx
.vs/FECapstone/FileContentIndex/a6fa21f2-b21c-41c0-b178-f2bf2338339c.vsidx
.vs/FECapstone/FileContentIndex/ce626f24-3644-40bd-99d9-1c0e1554d4a5.vsidx
.vs/FECapstone/FileContentIndex/ced44192-5568-4736-abfc-15ca7b6bd439.vsidx
.vs/FECapstone/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
